<div class="form">
<%= form_tag("/signup") do%>
  <div class="form-group">
    <label for="exampleInputEmail1" class="user_name">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" size=20>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
 <%= render 'layouts/form'%>
<% end%>
</div>