.alert-danger {
    width: 300px;
    height: 80px;
    margin: auto;
}

.alert-success {
    width: 500px;
    height: 80px;
    margin: auto;
}

.form_group{
    display: block;
    margin: 0, auto;
    width: 250px, 250px;
}

input[type="text"] {
        width: 300px;
        height: 40px;
    }

input[type="password"] {
        width: 300px;
        height: 40px;
    }
input[type="email"] {
    width: 300px;
    height: 40px;
}